.banner{
	background-image: image-url("AD&M_abertura_favicon/AD&M_abertura_diagonais-37.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;

	@media screen and(max-width: 1001px) {
		background-size: 100%;
	}
}

.seta_abaixo{
	background-image: image-url("seta_abertura.svg");
	background-size: 132px;
	background-repeat: no-repeat;
	height: 50px;
	background-position: center bottom;

}