.cliente_parceiro{
	background-color: white;

	h1{
		color: #009BA4;
		font-family: 'FlexoW01-Medium';
		font-size: 47px;
	}
	.exemplo1{
		background-image: image-url("exemplo1.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 150px;
		width: 300px;
		display: inline-block;
		margin: 3px;
	}
	.exemplo2{
		background-image: image-url("exemplo2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 150px;
		width: 300px;
		display: inline-block;
		margin: 3px;
	}
	.exemplo3{
		background-image: image-url("exemplo3.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 150px;
		width: 300px;
		display: inline-block;
		margin: 3px;
	}


}