.cliente_parceiro{
	background-color: white;

	h1{
		color: #009BA4;
		font-family: 'FlexoW01-Medium';
		font-size: 47px;
		margin-bottom: -50px;
	}
	.cliente1{
		background-image: image-url("AD&M_clientes/AD&M_cliente-06.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente2{
		background-image: image-url("AD&M_clientes/AD&M_cliente-07.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente3{
		background-image: image-url("AD&M_clientes/AD&M_cliente-08.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente4{
		background-image: image-url("AD&M_clientes/AD&M_cliente-09.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente5{
		background-image: image-url("AD&M_clientes/AD&M_cliente-10.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente6{
		background-image: image-url("AD&M_clientes/AD&M_cliente-11.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente7{
		background-image: image-url("AD&M_clientes/AD&M_cliente-12.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente8{
		background-image: image-url("AD&M_clientes/AD&M_cliente-13.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente9{
		background-image: image-url("AD&M_clientes/AD&M_cliente-14.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente10{
		background-image: image-url("AD&M_clientes/AD&M_cliente-15.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente11{
		background-image: image-url("AD&M_clientes/AD&M_cliente-16.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente12{
		background-image: image-url("AD&M_clientes/AD&M_cliente-17.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente13{
		background-image: image-url("AD&M_clientes/AD&M_cliente-18.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente14{
		background-image: image-url("AD&M_clientes/AD&M_cliente-19.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.cliente15{
		background-image: image-url("AD&M_clientes/AD&M_cliente-20.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}





	.parceiros1{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-21.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros2{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-22.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros3{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-23.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros4{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-24.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros5{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-25.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros6{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-26.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros7{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-27.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros8{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-28.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros9{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-29.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros10{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-30.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros11{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-31.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
	.parceiros12{
		background-image: image-url("AD&M_parceiros/AD&M_parceiros-32.png");
		background-repeat: no-repeat;
		padding: 130px;
		display: inline-block;
		margin: 3px;
		margin-top: 90px;
	}
}