.fale_conosco{
	background-color: #009BA4;
	h1{
		color: #FFF;
		font-family: 'FlexoW01-Medium';
		font-size: 47px;
	}
	p{
		color:#FFF;
		font-family: 'Source Sans Pro';
		font-size: 24px;
	}

  .flex-container {
        /* We first create a flex layout context */
        display: flex;
  
        /* Then we define the flow direction and if we allow the items to wrap 
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;
  
        /* Then we define how is distributed the remaining space */
        justify-content: space-around;
    }

	form{
		color: #FFF;
    display: inline-block;
    border-style: none;
    width: 480px;


  		.formulario{
		    input{
      		border-radius: 5px;
      		font-size: 20px;
      		margin-bottom: 2%;
      		margin-top: 2%;
      		width: 100%;
          padding: 10px;
          font-family: 'Source Sans Pro';
    		}
    	 textarea {
    		  border-radius: 5px;
      		font-size: 20px;
      		margin-bottom: 2%;
      		margin-top: 2%;
      		width: 100%;
    		  resize: none;
    		  height: 195px;
          font-family: 'Source Sans Pro';
			   }
      }
      .envio{
        input{
          background-color: #06E195;
          border: 0;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          display: block;
          font-size: 20px;
          margin: 0 auto;
          width: 100%;
          padding: 20px;
      
        }
      }

    }
  #map {
    margin: 10px;
    height: 540px;
    width: 480px;
    display: inline-block;

  }

}