.solucao{
	background-color: #00444F;

	h1{
		color: #FFF;
		font-family: 'FlexoW01-Medium';
		font-size: 47px;
	}
	p{
		color:#6D6D6D;
		font-family: 'Source Sans Pro';
		font-size: 24px;
	}


    .financas{
            background-color: #FFF;
            display: inline-table;
            height: 310px;
            width: 400px;
            margin: 10px;
            margin-left: 50px;
                h3{
                    font-family: 'FlexoW01-Medium';
                    color: #009BA4;
                    font-size: 35px;
                    text-align: center;
                }
                p{
                    font-size: 15px;
                    margin-right: 20px;
                    margin-left: 20px;
                    text-align: left;
                }
                
    }
	.marketing{
            background-color: #FFF;
            display: inline-table;
            height: 310px;
            width: 400px;
            margin: 10px;
                h3{
                    font-family: 'FlexoW01-Medium';
                    color: #009BA4;
                    font-size: 35px;
                    text-align: center;
                }
                p{
                    font-size: 15px;
                    margin-right: 20px;
                    margin-left: 20px;
                    text-align: left;
                }
        
	}
	.gp{
		
            background-color: #FFF;
            display: inline-table;
            height: 310px;
            width: 400px;
            margin: 10px;
            margin-left: 50px;
                h3{
                    font-family: 'FlexoW01-Medium';
                    color: #009BA4;
                    font-size: 35px;
                    text-align: center;
                }
                p{
                    font-size: 15px;
                    margin-right: 20px;
                    margin-left: 20px;
                    text-align: left;
                }
	}
	.oep{
		
            background-color: #FFF;
            display: inline-table;
            height: 310px;
            width: 400px;
            margin: 10px;
                h3{
                    font-family: 'FlexoW01-Medium';
                    color: #009BA4;
                    font-size: 35px;
                    text-align: center;
                }
                p{
                    font-size: 15px;
                    margin-right: 20px;
                    margin-left: 20px;
                    text-align: left;
                }
	}
    .button{
                    background-color: #06E195;
                    border: 0;
                    border-radius: 5px;
                    margin: 0 auto;
                    margin-left: 30px;
                    width: 100px;
                    height: 30px;
                    font-family: 'FlexoW01-Medium';
                    font-size: 15px;
                    color: #FFF;
                    text-decoration: none;
                    cursor: pointer;
                    display: block;
                    text-align: center;
                    float: right;
                }

	
}