//-------------------------------------
// #STRUCTURE
// Existem neste arquivo esxistem classe
// que são usadas na estrutura padão do
// projeto, por exemplo a borda laterel
// na renderização das páginas
//-------------------------------------

//-------------------------------------
// #WRAPPER
//-------------------------------------
.wrapper{
  margin: 0 auto;
  width: calc(60% + 200px);

  @media(max-width: 720px) {
    width: calc(100vw - 20px)
  }
}

.body--nav-fixed {
  margin-top: 50px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
