<nav class="menu">
	<div class="wrapper">
		<div class="brand-logo"></div>
		<li>
			<a data-anchor="blog" href="https://medium.com/@ADMconsultoria" class="menu-item">Blog</a>
		</li>
		<li>
			<a data-anchor="contato" href="" class="menu-item">Fale Conosco</a>
		</li>
		<li>
			<a data-anchor="solucoes" href="" class="menu-item">Serviços</a>
		</li>
	</div>
</nav>

<div class="menu-mobile">
	<div class="menu-title">MENU</div>
	<nav class="menu-container">
		<li>
			<a data-anchor="contato" href="#" class="menu-item">Fale Conosco</a>
		</li>
		<li>
			<a data-anchor="blog" href="#" class="menu-item">Blog</a>
		</li>
	</nav>
</div>

<section class="solucoes">
	


</section>







<footer class="page-footer">
	<div class="wrapper">
		<div class="logo-footer"></div>
		<p>contato@admconsultoria.com.br</p>
		<p>99238-9123/ 98625-4773</p>
		<p>Faculdade de Administração, Contabilidade e Economia (FACE) - Campus Universitário Darcy Ribeiro, s/n. Sala DT 09/29 - Asa Norte. Brasília DF</p>
	</div>
	
</footer>