.page-footer{
  background-color: #00444F;
    .flex-container {
          /* We first create a flex layout context */
          display: flex;
    
          /* Then we define the flow direction and if we allow the items to wrap 
           * Remember this is the same as:
           * flex-direction: row;
           * flex-wrap: wrap;
           */
          flex-flow: row wrap;
    
          /* Then we define how is distributed the remaining space */
          justify-content: space-around;
      }

  p{
    color:  #FFF;
    font-size: 15px;
    font-family: 'FlexoW01-Medium';
    line-height: 27px;
  }

  .footer-place{
    display: inline-block;
    width: 275px;
    margin-right: 100px;

    @media screen and(max-width: 1001px) {
      width: 275px;
      margin-right: 50px;
    }

  }

  .footer-contact{
    display: inline-block;
    width: 300px;
    margin: 10px;
    @media screen and(max-width: 1001px) {
      width: 200px;
    }

  }



	.logo-footer{
		background-image: image-url("AD&M_footer_logo-13.svg");
  	background-repeat: no-repeat;
  	padding: 50px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: bottom;
    margin-top: 55px;
    @media screen and(max-width: 1001px) {
      margin-right: 50px;
    }
	}

  .medium{
    background-image: image-url("AD&M_icones_rs/AD&M_M.svg");
    background-repeat: no-repeat;
    padding: 15px;
    margin-left: 10px;
    display: inline-block;
  }
  .facebook{
    background-image: image-url("AD&M_icones_rs/AD&M_facebook.svg");
    background-repeat: no-repeat;
    padding: 15px;
    margin-left: 10px;
    display: inline-block;
  }
  .twitter{
    background-image: image-url("AD&M_icones_rs/AD&M_twitter.svg");
    background-repeat: no-repeat;
    padding: 15px;
    margin-left: 10px;
     display: inline-block;
  }

}