//-------------------------------------
// #COLORS
// Neste lugar é definida todas as variáveis
// de cor, não é interessante que tenha cor em
// hexadecimal no projeto, pois dificulta a mudança
// depois, e deixa o projeto mais propicio a
// inconsistencia nas cores.
// As cores abaixo são somente exemplos,
// no lugar delas, devem ser colocadas a paleta de
// cores do projeto.
//-------------------------------------


// BLACK AND WHITE
$color-black: #000;
$color-white: #fff;

// BLUE
$color-blue: #009BA4;
$color-blue-dark: #00444F;
$color-blue-light: #B0E1E0;

//Gray
$color-gray: #60686E;
$color-gray-dark: #4D4D4D;
$color-gray-xdark: #222725;
