<!DOCTYPE html>
<html>
  <head>
    <title>Site AD&M</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
	  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEg8DZxSN9fUWGHAITYiZcnzprTudCkNs&callback=initMap"
        async defer></script>
	  
    <link href="//db.onlinewebfonts.com/c/ea0517f0c20dfd81ffa9363950561257?family=FlexoW01-Regular" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/84774c4a3a6ad34965bf749fbe288ab0?family=FlexoW01-Medium" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/ec64cbf5e8b2e9e28bce3879c6812a1e?family=FlexoW01-Bold" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel="stylesheet"> 
  </head>
  <body>
    <%= yield %>
  </body>
</html>
